#headmenu {
	text-align: center;
	font-weight: bold;
}


.row {
	width: 100%;
}

#head1,
#head2,
#head3 {
	text-align: center;
}

.box1,
.box2,
.box3 {
	background-color: grey;
	text-align: justify;
	border: 1px black solid;
	box-sizing: border-box;
	position: relative;
	float: left;
	box-sizing: border-box;
}

.content1,.content2,.content3{
	padding: 9px;
}