* {
	box-sizing: border-box;
}

h1 {
	color: black;
	font-weight: bold;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	width: 100%;
	height: auto;
	color: black;
	position: relative;
	overflow: auto;
	background-color: grey;
	padding: 20px;
}

#chicken,#beef,#sushi {
	text-align: center;
	width: 30%;
	margin-left: 35%;
	font-weight: bold;
	font-size: 125%;
	padding: 5px;
}

#chicken-div,#sushi-div,#beef-div {
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
}

#header-nav {
  border: 0;
  background-color: grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-brand {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

#nav-list {
  background-color: grey;
  width: auto;
}

hr {
  border-color: black;
}

.item {
  color: black;
  font-size: 1.2em;
}
