h1 {
	text-align: center;
	color: black;
}
p {
	width: 90%
	margin-right: 10px;
	padding: 10px;
}
.row {
	width: 100%;
}
* {
	box-sizing: :border-box;
}
.col1{
	background-color: #8a8780;
	border: 1px solid black;
}
.col2{
	background-color: #8a8780;
	border: 1px solid black;
}
.col3{
	background-color: #8a8780;
	border: 1px solid black;
}
#section1{
	background-color: #bd5e5e

}
#section2{
	background-color: #942929;
}
#section3{
	background-color: #e8c77b;
}